:root {
    /* Cellding colors */
    --noble-gases: #00c853;
    --transition-metals: #80d8ff;
    --halogens: #b2ff59;
    --alkaline-earth: #ffc400;
    --no-metals: #ff9100;
    --alkali-metals: #1a237e;
    --metalloids: #d32f2f;
    --lanthanides: #90a6ae;
    --other-metals: #7e57c2;
    --actinides: #245a64;

    /* Text color */
    --ligth: #fafafa;
    --dark: #212121;

    /* Text Size */
    --smal-text: 0.8em;
    --symbol: 2em;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--ligth);
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    padding: 0 40px;
    color: var(--dark);
}

/* -------------------------------------- Legend -------------------------------------- */

.legend {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 5px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.legend__item {
    display: flex;
}

.legend__box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.legend__name {
    width: 60%;
    padding: 0;
}

/* -------------------------------------- End of Legend -------------------------------------- */

.noble-gases {
    background-color: var(--noble-gases);
    color: var(--ligth);
}

.transition-metals {
    background-color: var(--transition-metals);
    color: var(--dark);
}

.halogens {
    background-color: var(--halogens);
    color: var(--dark);
}

.alkaline-earth {
    background-color: var(--alkaline-earth);
    color: var(--dark);
}

.no-metals {
    background-color: var(--no-metals);
    color: var(--dark);
}

.alkali-metals {
    background-color: var(--alkali-metals);
    color: var(--ligth);
}

.metalloids {
    background-color: var(--metalloids);
    color: var(--ligth);
}

.lanthanides {
    background-color: var(--lanthanides);
    color: var(--var(--dark));
}

.other-metals {
    background-color: var(--other-metals);
    color: var(--ligth);
}

.actinides {
    background-color: var(--actinides);
    color: var(--ligth);
}

/* -------------------------------------- Elements Style -------------------------------------- */

.grid-items {
    position: relative;
    transition: 0.5s;
}

.grid-items:hover {
    transform: scale(1.2, 1.2);
    z-index: 10;
    box-shadow: 0px 0px 0px 10px black;
}

.grid-items__header {
    margin: 0;
    height: 20px;
    font-size: var(--smal-text);
}

.grid-items__number-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.5em;
}

.grid-items__number-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5em;
}

.grid-items__symbol {
    font-size: var(--symbol);
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}

.grid-items__name {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-size: var(--smal-text);
    text-transform: capitalize;
}

/* -------------------------------------- End of Elements Style -------------------------------------- */

/* -------------------------------------- Grid templates -------------------------------------- */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(auto, 90px);
    gap: 10px;
    justify-content: center;
}

.grid-container--bottom {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(auto, 90px);
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Hidden sampler element to mobile version */
.grid-container .grid-items:last-child {
    display: none;
}

/* ****************************************************************************************************
                                        Desktop version
********************************************************************************************************/

@media screen and (min-width: 768px) {
    .title {
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
        color: var(--dark);
    }

    .legend {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin: 5px;
        padding: 2em;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(18, 90px);
        grid-template-rows: repeat(7, 90px);
        gap: 10px;
        justify-content: center;
    }

    .grid-container--bottom {
        display: grid;
        grid-template-columns: repeat(14, 90px);
        grid-template-rows: repeat(2, 90px);
    }

    .grid-items:hover {
        transform: scale(2, 2);
        z-index: 10;
        box-shadow: 0px 0px 0px 10px;
    }
    /* -------------------------------------- Elements Positions -------------------------------------- */

    .grid-container .grid-items:nth-child(1) {
        grid-column: 1 / 2;
    }

    .grid-container .grid-items:nth-child(2) {
        grid-column: 18 / 19;
    }

    .grid-container .grid-items:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(5) {
        grid-column: 13 / 14;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(6) {
        grid-column: 14 / 15;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(7) {
        grid-column: 15 / 16;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(8) {
        grid-column: 16 / 17;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(9) {
        grid-column: 17 / 18;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(10) {
        grid-column: 18 / 19;
        grid-row: 2 / 3;
    }

    .grid-container .grid-items:nth-child(11) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(12) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(13) {
        grid-column: 13 / 14;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(14) {
        grid-column: 14 / 15;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(15) {
        grid-column: 15 / 16;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(16) {
        grid-column: 16 / 17;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(17) {
        grid-column: 17 / 18;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(18) {
        grid-column: 18 / 19;
        grid-row: 3 / 4;
    }

    .grid-container .grid-items:nth-child(19),
    .grid-container .grid-items:nth-child(20),
    .grid-container .grid-items:nth-child(21),
    .grid-container .grid-items:nth-child(22),
    .grid-container .grid-items:nth-child(23),
    .grid-container .grid-items:nth-child(24),
    .grid-container .grid-items:nth-child(25),
    .grid-container .grid-items:nth-child(26),
    .grid-container .grid-items:nth-child(27),
    .grid-container .grid-items:nth-child(28),
    .grid-container .grid-items:nth-child(29),
    .grid-container .grid-items:nth-child(30),
    .grid-container .grid-items:nth-child(31),
    .grid-container .grid-items:nth-child(32),
    .grid-container .grid-items:nth-child(33),
    .grid-container .grid-items:nth-child(34),
    .grid-container .grid-items:nth-child(35),
    .grid-container .grid-items:nth-child(36) {
        grid-row: 4 / 5;
    }

    .grid-container .grid-items:nth-child(37),
    .grid-container .grid-items:nth-child(38),
    .grid-container .grid-items:nth-child(39),
    .grid-container .grid-items:nth-child(40),
    .grid-container .grid-items:nth-child(41),
    .grid-container .grid-items:nth-child(42),
    .grid-container .grid-items:nth-child(43),
    .grid-container .grid-items:nth-child(44),
    .grid-container .grid-items:nth-child(45),
    .grid-container .grid-items:nth-child(46),
    .grid-container .grid-items:nth-child(47),
    .grid-container .grid-items:nth-child(48),
    .grid-container .grid-items:nth-child(49),
    .grid-container .grid-items:nth-child(50),
    .grid-container .grid-items:nth-child(51),
    .grid-container .grid-items:nth-child(52),
    .grid-container .grid-items:nth-child(53),
    .grid-container .grid-items:nth-child(54) {
        grid-row: 5 / 6;
    }

    .grid-container .grid-items:nth-child(55),
    .grid-container .grid-items:nth-child(56),
    .grid-container .grid-items:nth-child(57),
    .grid-container .grid-items:nth-child(58),
    .grid-container .grid-items:nth-child(59),
    .grid-container .grid-items:nth-child(60),
    .grid-container .grid-items:nth-child(61),
    .grid-container .grid-items:nth-child(62),
    .grid-container .grid-items:nth-child(63),
    .grid-container .grid-items:nth-child(64),
    .grid-container .grid-items:nth-child(65),
    .grid-container .grid-items:nth-child(66),
    .grid-container .grid-items:nth-child(67),
    .grid-container .grid-items:nth-child(68),
    .grid-container .grid-items:nth-child(69),
    .grid-container .grid-items:nth-child(70),
    .grid-container .grid-items:nth-child(71),
    .grid-container .grid-items:nth-child(72) {
        grid-row: 6 / 7;
    }

    .grid-container .grid-items:nth-child(73),
    .grid-container .grid-items:nth-child(74),
    .grid-container .grid-items:nth-child(75),
    .grid-container .grid-items:nth-child(76),
    .grid-container .grid-items:nth-child(77),
    .grid-container .grid-items:nth-child(78),
    .grid-container .grid-items:nth-child(79),
    .grid-container .grid-items:nth-child(80),
    .grid-container .grid-items:nth-child(81),
    .grid-container .grid-items:nth-child(82),
    .grid-container .grid-items:nth-child(83),
    .grid-container .grid-items:nth-child(84),
    .grid-container .grid-items:nth-child(85),
    .grid-container .grid-items:nth-child(86),
    .grid-container .grid-items:nth-child(87),
    .grid-container .grid-items:nth-child(88),
    .grid-container .grid-items:nth-child(89),
    .grid-container .grid-items:nth-child(90) {
        grid-row: 7 / 8;
    }

    .grid-container .grid-items:last-child {
        display: block;
        grid-column: 6 / 8;
        grid-row: 1 / 3;
    }

    .grid-container .grid-items:last-child:hover {
        transform: none;
        z-index: 10;
        box-shadow: 0px 0px 0px 10px;
        /* -------------------------------------- End of Elements Positions -------------------------------------- */
    }
}
